{% extends "blog/base.html" %}
{% block content %}
    <div class="heading heading-border heading-middle-border">
   <h1>Online City Maintenance System <strong>(OCMS)</strong></h1>
</div>
<p>
   Online City Maintenance System is one of a kind, offering simple, yet powerful maintenance management for common issues related to city.  City and municipal maintenance is not a small task for any locality, small or large. When a municipal pipe starts leaking or bursts, it's an emergency that can potentially put people at risk. When a block of streetlights go out, the area they are meant to illuminate feels less safe. These are just a couple examples of the reactive emergency repairs that public works officials must respond to and organize, saying nothing of the planned works that come into play.
</p>
<p>
    &nbsp
    &nbsp
   <img src="static/images/park2.jpg" alt="Preventative Maintenance Software" align="right" class="img-fluid rounded-circle mb-4">
    &nbsp
    &nbsp
</p>
<p>
   What better way to take control of your maintenance management priorities than with a public works maintenance software that puts your city's needs first?
</p>
<h2>Benefits of Online City Maintenance System</h2>
<p>
A OCMS makes it easier to manage road maintenance, public building maintenance, street light maintenance, park maintenance and more. Our maintenance software increases the life of assets, improves productivity, reduces unplanned downtime and minimizes inventory costs.
</p>
<p>
The benefits of implementing OCMS to support your municipal maintenance strategies are endless. Some of the positives you can look forward to are:
</p>
<ul>
   <li>		Easy-to-use web-based applications that help your municipality:
   <li>		Increase asset life
   <li>		Prevent asset failures
   <li>		Improve labor productivity
   <li>	    Reduce costly downtimes
   <li>		Minimize investment in inventory
   <li>		Lower the total cost of maintenance
</ul>
<p>
    &nbsp
    &nbsp
   <img src="static/images/MaintenanceCrew.jpg" alt="Preventative Maintenance Software" align="right" class="img-fluid rounded-circle mb-4">
    &nbsp
    &nbsp
</p>

<h2>Possible Areas of Use of Online City Maintenance System</h2>
<p>
Cities and municipalities can get information from the general public about any problem in the city and can set up maintenance procedures and preventative maintenance schedule for facilities and equipment such as:
</p>
<ul>
   <li>	Sewer drain pipes
   <li>	Streets
   <li>	Potholes
   <li>	Curbs and gutters
   <li>	Traffic control devices
   <li>	Sanitation systems
   <li>	Vehicles
   <li>	Parking lots
   <li>	Parking garages
   <li>	Landscape maintenance
   <li>	Buildings
   <li>	Fire hydrants
   <li>	Pipelines
   <li>	Asphalt repair
   <li>	And more
</ul>
<p>
We have developed an easy OCMS that is not only simple to execute and straightforward to use, but actually works for all types of industries. Organizations can look forward to using a system that is tailored to their needs.
   &nbsp
   &nbsp
   &nbsp
   &nbsp
</p>
   &nbsp
   &nbsp
   &nbsp
   &nbsp
{% endblock content %}